<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog | <%= title %> </title>
</head>
<body>
    <nav>
        <div class="site-title">
            <a href="/"><h1>MERN Stack Blogs</h1></a>
            <p>Best MERN Resources</p>
        </div>
        <ul>
            <li><a href="/">Blogs</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blogs/create">New Blog</a></li>
        </ul>
    </nav>

    <div class="about content">
        <h2> About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum molestiae totam at eos quaerat, suscipit nemo. Hic, inventore officia, accusantium, maiores architecto nulla placeat autem magni recusandae esse quia reprehenderit.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum molestiae totam at eos quaerat, suscipit nemo. Hic, inventore officia, accusantium, maiores architecto nulla placeat autem magni recusandae esse quia reprehenderit.</p>
    </div>
    
</body>
</html>